@font-face {
  font-family: "Arabic Typesetting";
  src: local("Arabic Typesetting"), url("https://fonts.cdnfonts.com/s/16207/arabtype.woff") format("woff");
}

body {
  background-color: #0e0e0e;
  color: #eaeaea;
  font-family: 'Arabic Typesetting', serif;
  margin: 0;
  padding: 2rem;
  line-height: 1.6;
}

header, footer {
  text-align: center;
  margin-bottom: 2rem;
}

nav a {
  color: #d4af37;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
}

nav a:hover {
  color: #ffffff;
}

h1, h2, h3 {
  color: #ffffff;
  text-shadow: 0 0 5px #000;
  font-size: 2.5rem;
}

a {
  color: #f0c674;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  background-color: rgba(15, 15, 15, 0.9);
  border: 1px solid #333;
  border-radius: 6px;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
}
